<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Showmymessage</title>
</head>
<body>

<p>{{ object.message }}</p>
<p>view count: {{ viewcount }}</p>

form

{#form is being saved.action="paytm/payment/"not saving..my b cus actn..now just hv to redirect to paytm nd set FLAG true if success..nd den if max()row Flag true increment msgcounter..must give full ul with host address manually#}
{#form ws not getting submitted cof actn defined as othr page..so i cn do dat bt get-absolut-url#}

{#action="{% url 'payment' %}"#}
<form  method="get">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change this message" >

{#    #here must give button to submit form..but i wnt to redirct user to 'payment' with anchor tag..#}
{#    #so using action to redirect#}

</form>


</body>
</html>