<html>
<h1>ShowMyMessage!!!</h1>
<h3><br><br>Redirecting You to Paytm Check Out Page...<br><br> Please Do Not Refresh The Page!</h3></br>

{#  old action = "https://pguat.paytm.com/oltp-web/processTransaction" here action =Your PAYTM DASHBOARD TRANSCTN URL..refer Paytm Docs#}
    <form method="post" action="https://securegw-stage.paytm.in/order/process" name="f1">
        <table border="1">
          <tbody>
              {% for key,value in paytmdict.items %}
                  <input type="hidden" name="{{key}}" value="{{value}}">
             {% endfor %}
          </tbody>
        </table>


<script type="text/javascript">
document.f1.submit();
</script>
</form>
</html>